<notifier-container></notifier-container>
<div class="add-drug-container">
  <div class="container custom-container">
    <div class="text-center mb-2">
      <img
        src="../assets/images/pharmacybg.png"
        alt="bg"
        class="main-bg-image"
      />
    </div>
    <h3>{{ id == "" ? "Add" : "Edit" }} Drug</h3>
    <form
      style="user-select: auto"
      class="needs-validation"
      #drugForm="ngForm"
      (ngSubmit)="drugActions()"
      ngNativeValidate
    >
      <fieldset class="custom-feildset">
        <div class="drug-top">
          <div class="drug-left">
            <div class="form-group" style="user-select: auto">
              <label
                for="drugName"
                class="form-label mt-4"
                style="user-select: auto"
                >Drug Name</label
              >
              <input
                type="text"
                class="form-control"
                id="drugName"
                aria-describedby="emailHelp"
                placeholder="Drug full name"
                style="user-select: auto"
                name="drugName"
                [(ngModel)]="newDrug.drug_name"
                required
                #drugName="ngModel"
                [ngClass]="{
                  'is-invalid': drugName.invalid && drugName.touched,
                  'is-valid': drugName.valid
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="(drugName.invalid && drugName.touched) || drugName.dirty"
              >
                <small *ngIf="drugName.errors?.required" class="text-danger"
                  >Drug Name is required</small
                >
              </div>
            </div>
            <div class="form-group" style="user-select: auto">
              <label
                for="price"
                class="form-label mt-4"
                style="user-select: auto"
                >Drug Price</label
              >
              <input
                required
                type="number"
                class="form-control"
                id="price"
                aria-describedby="emailHelp"
                placeholder="Enter drug price"
                style="user-select: auto"
                [(ngModel)]="newDrug.price"
                [ngModelOptions]="{ standalone: true }"
                #drugPrice="ngModel"
                minlength="1"
                [ngClass]="{
                  'is-invalid':
                    (drugPrice.invalid && drugPrice.touched) ||
                    newDrug.price == 0,
                  'is-valid': drugPrice.valid
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  (drugPrice.invalid && drugPrice.touched) || drugPrice.dirty
                "
              >
                <small *ngIf="drugPrice.errors?.required" class="text-danger"
                  >Price is required</small
                >
              </div>
            </div>
            <div class="form-group" style="user-select: auto">
              <label
                for="batchId"
                class="form-label mt-4"
                style="user-select: auto"
                >Batch Id
              </label>
              <input
                required
                type="string"
                class="form-control"
                id="batchId"
                placeholder="Enter batch id of drug"
                style="user-select: auto"
                [(ngModel)]="newDrug.batch_id"
                [ngModelOptions]="{ standalone: true }"
                required
                #drugBatch="ngModel"
                [ngClass]="{
                  'is-invalid': drugBatch.invalid && drugBatch.touched,
                  'is-valid': drugBatch.valid
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  (drugBatch.invalid && drugBatch.touched) || drugBatch.dirty
                "
              >
                <small *ngIf="drugBatch.errors?.required" class="text-danger"
                  >Batch Id is required</small
                >
              </div>
            </div>
            <div class="form-group" style="user-select: auto">
              <label
                for="quantity"
                class="form-label mt-4"
                style="user-select: auto"
                >Drug Quantity</label
              >
              <input
                required
                type="number"
                class="form-control"
                id="quantity"
                placeholder="Enter quantity of drug"
                style="user-select: auto"
                [(ngModel)]="newDrug.quantity"
                [ngModelOptions]="{ standalone: true }"
                #drugQuant="ngModel"
                minlength="1"
                [ngClass]="{
                  'is-invalid':
                    (drugQuant.invalid && drugQuant.touched) ||
                    newDrug.quantity == 0,
                  'is-valid': drugQuant.valid
                }"
              />
            </div>
            <div
              class="invalid-feedback"
              *ngIf="
                (drugQuant.invalid && drugQuant.touched) || drugQuant.dirty
              "
            >
              <small *ngIf="drugQuant.errors?.required" class="text-danger"
                >Quantity is required</small
              >
            </div>
          </div>
          <div class="drug-right">
            <div class="form-group" style="user-select: auto">
              <label
                for="expiryDate"
                class="form-label mt-4"
                style="user-select: auto"
                >Drug Expiry Date</label
              >

              <input
                required
                type="datetime-local"
                class="form-control cutom-datepicker"
                id="expiryDate"
                placeholder="Enter expiry Date"
                style="user-select: auto"
                [(ngModel)]="newDrug.expiry_date"
                [ngModelOptions]="{ standalone: true }"
                #drugDate="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (drugDate.invalid && drugDate.touched) ||
                    newDrug.expiry_date == null,
                  'is-valid': drugDate.valid
                }"
              />
            </div>

            <div class="form-group">
              <label for="supplierList" class="form-label mt-4"
                >Select Supplier</label
              >
              <select
                required
                class="form-select"
                id="supplierList"
                [(ngModel)]="newDrug.supplierDetailId"
                [ngModelOptions]="{ standalone: true }"
              >
                >
                <option
                  [value]="supplier.id"
                  *ngFor="let supplier of supplierList"
                >
                  {{ supplier.supplier_name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="text-center mt-4">
          <button
            type="submit"
            class="btn btn-success px-5 py-2"
            style="user-select: auto"
            [disabled]="drugForm.invalid"
          >
            {{ id == "" ? "Add" : "Edit" }}
            Drug
          </button>
        </div>
        
      </fieldset>
    </form>
  </div>
</div>
