<div class="wrapper" *ngIf="cartItems?.length > 0">
  <h2>Order Checkout</h2>

  <div class="table-container">
    <table
      class="table table-hover table-responsive table-custom"
      style="user-select: auto"
    >
      <thead style="user-select: auto">
        <tr style="user-select: auto">
          <th scope="col" style="user-select: auto">Id</th>
          <th scope="col" style="user-select: auto">Name</th>
          <th scope="col" style="user-select: auto">Price</th>

          <th scope="col" style="user-select: auto">Quantity</th>
          <th scope="col" style="user-select: auto">SubTotal</th>
          <th scope="col" style="user-select: auto">Action</th>
        </tr>
      </thead>
      <tbody style="user-select: auto">
        <tr
          *ngFor="let item of cartItems"
          class="table-success"
          style="user-select: auto"
        >
          <td scope="row" style="user-select: auto">{{ item.drug_id }}</td>
          <td style="user-select: auto">{{ item.drug_name }}</td>
          <td style="user-select: auto">{{ item.price }}</td>
          <td style="user-select: auto">{{ item.selectedQuantity }}</td>
          <td style="user-select: auto">
            {{ "Rs." + item.subTotal }}
          </td>
          <td style="user-select: auto">
            <button class="btn btn-primary btn-sm" (click)="removeDrug(item)">
              Remove Drug
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="bottom">
    <div class="total">
      Total : <span>{{ "Rs." + total }} </span>
    </div>
    <button class="btn btn-success" (click)="placeOrder()">Place Order</button>
  </div>
</div>

<div class="wrapper2" *ngIf="!cartItems">
  <img src="assets/images/emptyCart.svg" alt="emptyBg" class="emptyBg" />
  <div>
    <h2>Your cart is empty.</h2>
    <p>Please add a few items</p>
    <button class="btn btn-primary" [routerLink]="'/drugs'">Buy Drugs</button>
  </div>
</div>
