.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  tbody {
    display: block;
    height: calc(100vh - 180px);
    overflow-y: scroll;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
  }
  thead {
    width: calc(
      100% - 1em
    ); /* scrollbar is average 1em/16px width, remove it from thead width */
  }
}
.header {
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container-custom {
  padding: 0px 20px;
}

@media (max-width: 990px) {
  .header {
    margin-top: 40px;
  }
}
@media (max-width: 1070px) {
  .container-custom{
    width: 100%;
    overflow-x: scroll;
  }
  th,
  td {
    width: 150px;
  }
}
