<div class="card-custom">
  <small class="text-muted" style="user-select: auto">{{
    drug.batch_id
  }}</small>
  <div class="top">
    <h4>{{ drug.drug_name }}</h4>

    <div class="top-bottom">
      <div>
        <p>Quantity</p>
        <h5>
          {{
            currentUser?.isAdmin
              ? drug.quantity
              : drug.quantity - this.selectedQuantity
          }}
        </h5>
      </div>
      <div>
        <p>Exp Date</p>
        <h5>{{ drug.expiry_date | date : "dd/MM/yyyy" }}</h5>
      </div>
    </div>
  </div>
  <div *ngIf="currentUser?.isAdmin">
    <p>Supplier name</p>
    <h5>{{ drug.supplierDetail.supplier_name }}</h5>
  </div>
  <div class="bottom">
    <div>
      <p>Price</p>
      <h5>{{ drug.price }}</h5>
    </div>
    <form ngNativeValidate *ngIf="!currentUser?.isAdmin">
      <div class="quantity-div">
        <button class="btn-custom" (click)="decrQuantity()">-</button>
        <input
          type="number"
          [(ngModel)]="selectedQuantity"
          name="quantity"
          [value]="selectedQuantity"
          [max]="drug.quantity"
        />
        <button class="btn-custom" (click)="incQuantity()">+</button>
      </div>

      <button
        type="submit"
        class="btn btn-success btn-sm"
        (click)="addToCartDrug(drug)"
      >
        <span class="material-icons-round">add_shopping_cart</span>
      </button>
    </form>
    <div class="action-btn-div" *ngIf="currentUser?.isAdmin">
      <button
        class="btn btn-outline-success btn-sm m-1"
        [routerLink]="['/editdrug/' + drug.drug_id]"
      >
        <span class="material-icons-round icon-custom">edit</span>
      </button>
      <button
        class="btn btn-outline-danger btn-sm m-1"
        (click)="deleteDrug(drug.drug_id)"
      >
        <span class="material-icons-round icon-custom">delete</span>
      </button>
    </div>
  </div>
</div>
