@import "../../../styles.scss";
.custom-header {
  position: absolute;
  right: 0;
  z-index: 100;
  border: none;
  ul {
    display: flex;
    align-items: center;
  }
  .header-div {
    font-size: 15px;
     #cart-div{
      display:flex ;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
     }
    .cart-counter {
      position: relative;
      .badge-custom {
        position: absolute;
        font-size: 10px;
        right: -6px;
        top: -6px;
      }
    }

    .logout-btn {
      margin-left: 15px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 990px) {
  .custom-header {
    top: 0;
    right: 0;
    left: 0;
  }
  .logout-btn {
    margin-bottom: 20px;
  }
}
